@import "tailwindcss";

@theme {
  --color-primary-500: #55476a;
}

@font-face {
  font-family: "BT Beau Sans";
  src:
    url("/fonts/beau-sans/BT-BeauSans-BoldItalic.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans";
  src:
    url("/fonts/beau-sans/BT-BeauSans-Bold.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans Extra";
  src:
    url("/fonts/beau-sans/BT-BeauSans-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans";
  src:
    url("/fonts/beau-sans/BT-BeauSans-ExtraBold.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans";
  src:
    url("/fonts/beau-sans/BT-BeauSans-LightItalic.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans";
  src:
    url("/fonts/beau-sans/BT-BeauSans-Italic.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans";
  src:
    url("/fonts/beau-sans/BT-BeauSans-Medium.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans";
  src:
    url("/fonts/beau-sans/BT-BeauSans-MediumItalic.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans";
  src:
    url("/fonts/beau-sans/BT-BeauSans-Regular.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans";
  src:
    url("/fonts/beau-sans/BT-BeauSans-Light.woff2") format("woff2"),
    url("/fonts/beau-sans/BT-BeauSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Biko";

  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
